Debug/
cppcheck.list
memcached.batch_build
memcached.tags
memcached.txt
memcached.workspace.session
snappy
# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so

# Compiled Static libraries
*.lai
*.la
*.a

